body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    justify-content: center;
}

.header {
    margin: 0px 0px 0px 0px;
    height: 19vh;
    padding: 10px;
    padding-right: 0;
    background-color: #E3E9FC;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.nav-bar {
    margin-bottom: 1.5vh;
    background-color: #37beb0;
    right: 0;
    height: 5vh;
    width: 55vw;
    border-radius: 16px 0 0 20px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 7px gray;
}

.main-buttons {
    display: flex;
}

.nav-bar-button {
    /*Style of buttons*/
    color: white;
    background-color: #37beb0;
    border: 0;
    width: 5.5vw;
    height: 3.5vh;
    border-radius: 10px;
    display: block;
    margin: 8px 10px 10px 10px;
    /* margin-right: 2vw;
    margin-bottom: 0px; */
    /* Font Style */
    font-weight: bold;
    font-size: 0.9rem;
    text-shadow: 0 3px 3px gray;
}

#homeButton {
    width: 11vw;
}

#logo {
    position: absolute;
    margin: 0 0 1vh 3vw ;
    width: 28vw;
}

.register-area {
    display: flex;
    margin-right: 4vw;
}

#register-button {
    color: white;
    background-color: #37BEB0;
    border: 0;
    font-family: 'Poppins';
    font-weight: 100;
    font-size: 0.9rem;
    text-shadow: 0 2px 5px darkslategray;
    
}

#login-button {
    background-color: #3E7A29;
    color: white;
    width: 5.5vw;
    border: 0;
    text-shadow: 0 0;
}

.boldText {
    font-weight: bold;
}

.poppinsFont {
    font-family: 'Poppins';
}


/* ===========================TELA CADASTRO================================== */

#logoCadastro {
    width: 10vw;
    margin-top: 20px;
    margin-bottom: 50px;
}

.esquerdaCadastro{
    width: 30%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #499FA4;
    padding: 25px;
    text-align: center;
    display: block;
}
.direitaCadastro{
    padding: 25px;
    width: 70%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.modalCadastro{
    background-color: rgba(0, 0, 0, 0);
    /*  position: absolute; */
    margin: auto;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* padding: 20px; */
    border-radius: 15px;
    color:#ECE9FC;
    width: 50%;
    padding : 0;
    text-align: center;
    display: flex;
    border: 0px;
}

.cadastro-input{
    background-color: #efefef;
    margin: 0 15px 0 15px;
    padding: 15px;
    border: none;
    border-radius: 15px;
    outline-color: #3E7A29;
    width: 70%;
    font-family: 'Poppins';
}

#h2-direita{
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: #499FA4
}
#h3-direita{
    color: black;
    top: 50%;
    left: 50%;
    font-size: 15px;
}

#h2-esquerda{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white
}

#h3-esquerda{
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: white
}

#buttonCadastroEntrar{
    border-radius: 30px;
    background-color: #499FA4;
    border: 3px solid;
    border-color: white;
    margin-bottom: 35px;
    width: 50%;
    height: 8%;
    color: white;
    font-size: 15px;
    font-weight:900;
    margin-top: 30px;
    margin-bottom: 5px;

    width: 10vw;
}

#buttonCadastrar{
    border-radius: 30px;
    background-color: #499FA4;
    border: 0;
    margin-bottom: 35px;
    width: 30%;
    height: 8%;
    color: white;
    font-size: 15px;
    font-weight:900;
}

.closeButton{
    background-color: white;
    border: 0;
    margin-left: 90%;
    color: black;
    font-size: 15px;
    border: 1px solid;
    border-color: black;
}

#buttonEsqueciSenha{
    background-color: transparent;
    color: white;
    border: 0px;
    padding: 0;
    font-size: 13px;
}

/* ============================CAROUSEL================================= */

.carousel{
    position: relative;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
}

.carousel-item img {
    display: block;
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

/* ============================================================= */
.search-area {
    height: 24vh;
    background-color: #37BEB0;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.input-container {
    position: relative;
    margin-top: 3.5em;
}

#input-local {
    width: 70vw;
    height: 40;
    border-radius: 100px;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
    padding: 15px;
    background-color: #D9D9D9;
    font-size: 1.5rem;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: black;
    font-size: 1.8rem;
    border: 0;
    background-color: #D9D9D9;
}

.local-underneath-search {
    margin: 16px;
    display: flex;
    align-items: center;
}

#alter-local {
    width: 9vw;
    height: 5vh;
    margin-right: 2vw;
    border: 0;
    border-radius: 20px;
    color: black;
    background-color: #D9D9D9;
    box-shadow: 0 2px 3px gray;
    font-size: 1.2vw;
}

#current-local {
    margin-top: 0.8vh;
}



/* ============================================================= */
.recomendations {
    height: 35vh;
}


#footer {
    height: 5vh;
    background-color: black;
}


/* Reactions */

.nav-bar-button:hover {
    background-color: #E3E9FC;
    color: #37BEB0;
    text-shadow: 0 3px 2px lightgray;
}

#input-local::placeholder {
    color: black;
    opacity: 0.4;
}

.active{
    display: flex;
}