<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/Sobre/index.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  <title>Turismo</title>
</head>
<body>
  {% extends 'base.html' %}{% block content %}

  <div class="principal-container">
    <div class="content-imagem-acessibilidade">
      <img src="../static/images/Sobre/Pessoas.svg" alt="" class="imagem-acessibilidade">
    </div>
    <div class="container-conteudo">
      <h1 class="title">O público que buscamos alcançar.</h1>
      <div class="content">
        <img src="../static/images/Sobre/image 12.svg" alt="">
        <p>
          Se você é uma pessoa com deficiência ou mobilidade de locomoção reduzida e deseja explorar a história e a cultura de um local turístico, sabe o quão desafiador pode ser encontrar informações precisas sobre a acessibilidade do local. É por isso que nós do Turrismo Irrestrito, estamos fornecendo uma ferramenta para busca de locais acessíveis para fazer turismo histórico,  essa é  uma solução valiosa para tornar sua experiência de viagem mais fácil e agradável.
        </p>
      </div>  
    </div>
    <div class="container-conteudo">
      <h1 class="title">Você Sabia?</h1>
      <div class="content">
        <p>A acessibilidade em pontos turísticos não é apenas uma questão de conveniência, mas sim uma obrigação legal e moral. Todos os indivíduos têm o direito de desfrutar dos locais turísticos sem barreiras ou limitações, independentemente de suas habilidades físicas. A acessibilidade é um requisito fundamental para garantir que as pessoas com deficiência possam acessar e desfrutar de todas as atrações turísticas de forma igualitária. Além disso, a obrigatoriedade da acessibilidade em pontos turísticos é regulamentada por leis e normas de acessibilidade, como a Lei Brasileira de Inclusão (LBI) e a Norma Brasileira de Acessibilidade (NBR 9050).</p>
        <img src="../static/images/Sobre/27839 1.svg" alt="">
      </div>
    </div>
    <div class="container-sobre">
      <h1 class="title-sobre">Sobre o Turismo Irrestrito</h1>
      <div class="content">
        <p>
          No site, os usuários podem encontrar um sistema de pesquisa fácil e intuitivo para encontrar os melhores locais turísticos e pontos de interesse para visitar, permitindo que cada pessoa crie um itinerário de viagem único e adequado às suas necessidades e interesses. Tudo isso é feito de forma acessível e inclusiva, com informações detalhadas sobre a acessibilidade dos locais e pontos turísticos, para que todas as pessoas possam desfrutar da experiência de viagem da melhor forma possível. Então, se você deseja planejar uma viagem personalizada e acessível, confie em nosso site para ajudá-lo a encontrar os melhores locais turísticos e criar um roteiro de viagem inesquecível.
        </p>
      </div>
    </div>
  </div>
  
  {% endblock %}
</body>
</html>