<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turrismo Irrestrito</title>
    {% block css %}
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"
    />
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div class="header">
      <div class="logo-container">
        <img
          id="logo"
          src="../static/images/logo-back.png"
          alt="logo do Turrismo Irrestrito"
        />
      </div>
      <div class="nav-bar">
        <div class="main-buttons">
          <button
            onclick="location.href='/'"
            class="nav-bar-button poppins-font"
            id="home-button"
          >
            Página Inicial
          </button>
          <button class="nav-bar-button poppins-font" id="about-button">
            Sobre
          </button>
          <button
            onclick="location.href='/results/'"
            class="nav-bar-button poppins-font"
            id="advanced-search"
          >
            Pesquisa
          </button>
        </div>

        {% if user.is_authenticated %}
        <div class="user-area">
          <button class="nav-bar-button poppins-font" id="user-button">
            {{ user.name }}
          </button>
          <a class="button-logout" href="{% url 'logout' %}">Sair</a>
        </div>
        {% else %}

        <div class="register-area">
          <button class="poppins-font" id="register-button">
            Cadastrar-se
          </button>
          <button
            class="bold-text nav-bar-button poppins-font"
            id="login-button"
          >
            Entrar
          </button>
        </div>
        {% endif %}
      </div>
    </div>

    <nav class="navbar" id="bootstrap-navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          ><img
            src="static/images/logo-back.png"
            alt="logo do Turrismo Irrestrito"
            width="70"
            height="40"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#"
              >Página Inicial</a
            >
            <a class="nav-link" href="#">Sobre</a>
            <a class="nav-link" href="#">Pesquisa</a>
            {% if user.is_authenticated %}
            <a class="nav-link user-button" href="#">{{ user.name}}</a>
            <a class="nav-link button-logout" href="#">Sair</a>
            {% else %}
            <a class="nav-link" href="#" id="register-button-toggle"
              >Cadastre-se</a
            >
            <a class="nav-link" href="#" id="login-button-toggle">Entrar</a>
            {% endif %}
            <!-- <a class="nav-link disabled" href="#" aria-disabled="true">Cadastre-se</a> -->
          </div>
        </div>
      </div>
    </nav>

    <dialog class="modal-cadastro" id="modal-cadastro">
      <div class="register-container">
        <div class="esquerda-cadastro">
          <img
            id="logo-cadastro"
            src="static/images/logo-back.png"
            alt="logo do Turrismo Irrestrito"
          />
          <h2 class="poppins-font" id="h2-esquerda">Bem vindo de volta</h2>
          <h3 class="poppins-font" id="h3-esquerda">
            Acesse sua conta agora mesmo
          </h3>
          <button id="button-cadastro-entrar">ENTRAR</button>
          <button class="poppins-font" id="button-esqueci-senha">
            Esqueci minha senha
          </button>
        </div>
        <div class="direita-cadastro">
          <button class="close-button" id="close-button-cadastro">X</button>
          <h2 class="poppins-font" id="h2-direita">Crie sua conta</h2>
          <h3 class="poppins-font" id="h3-direita">Preencha seus dados</h3>
          <form method="POST" action="{% url 'user_login' %}" novalidate>
            {% load widget_tweaks %} {% csrf_token %}
            {{form.name|attr:"placeholder:Nome"|add_class:'form-fields'}}
            {{form.email|attr:"placeholder:Email"|add_class:'form-fields' }}
            {{form.password1|add_class:'form-fields'}}
            <br />
            {{ form.password2|add_class:'form-fields'}}
            <br />
            <input
              class="button-green"
              type="submit"
              name="register_form"
              value="CADASTRAR"
            />
          </form>
        </div>
      </div>
    </dialog>

    <dialog class="modal-login" id="modal-login">
      <div class="container-login">
        <button class="close-button" id="close-button-login">X</button>
        <h2 class="title-login">Login</h2>
        <form method="POST" action="{% url 'user_login' %}" novalidate>
          {% load widget_tweaks %} {% csrf_token %}
          {{form.email|attr:"placeholder:Email"|add_class:'form-fields'}}
          {{form.password1|add_class:'form-fields'}}
          <button class="poppins-font" id="button-esqueci-senha-login">
            Esqueci minha senha
          </button>
          <input
            class="button-green"
            type="submit"
            name="login_form"
            value="Login"
          />
        </form>
      </div>
    </dialog>
    <script src="../static/js/app.js"></script>
    {% endblock %} {% block content %} {% endblock %} {% block footer %}
    <footer id="footer">© 2023 Família Cosmus - All Rights Reserved</footer>
    {% endblock %}
  </body>
</html>
