<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/Perfil/edit.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Turismo</title>
</head>
<body>
  {% extends 'base.html' %}{% block content %}
  {% if usuario.is_authenticated %}

       <div class="Cont_Pessoais" >
        <h1>Informações Pessoais</h1>
        <div id="Cont_form">
          <img src="../static/images/Perfil/not-profile-picture.png" alt="Boneco de Login" class="img_perfil">

          <form action="" class="P_form">

              <label>Nome</label>
              <input type="text" placeholder="Nome" >

              <label>Redes Sociais</label>
              <input type="text" placeholder="@example" >

            <div class="cont_formInfo">
              <label>Tipo de Usuario</label>
              <img src="../static/images/Perfil/icon-tooltip.svg" alt="icone de informação">
            </div>
            <input class="ipt_list" list="tipos_usuarios" >
            <datalist id="tipos_usuarios">
                <option value="Acompanhante">
                <option value="Pessoa com mobilidade de Locomoção reduzida">
                <option value="Outro">
            </datalist>

            <div class="cont_formInfo">
              <label>Condição de Mobilidade</label>
              <img src="../static/images/Perfil/icon-tooltip.svg" alt="icone de informação">
            </div>
              <input class="ipt_list" list="condicao_mobilidade">
              <datalist id="condicao_mobilidade">
                <option value="Progressiva/Degenerativa">
                <option value="Tempóraria">
                <option value="Estável ou Permanente">
              </datalist>

            <div class="cont_formInfo">
              <label>Precisa de Acompanhante para Locomoção</label>
              <img src="../static/images/Perfil/icon-tooltip.svg" alt="icone de informação">
            </div>
            <div class="ipt_radio">
              <label for="sim">Sim</label>
              <input type="radio" name="sim" id="sim">
            </div>
            <div class="ipt_radio">
              <label for="nao">nao</label>
              <input type="radio" name="nao" id="nao">
            </div>
      
        </div>
       </div> 

       <div class="Fer_Auxiliar">
        <h1>Ferramenta Auxiliar de Locomoção</h1>
        <button>Bengala</button>
        <button>Prótese</button>
        <button>Andador</button>
        <button>Cadeira de rodas manual</button>
        <button>Muleta</button>
        <button>Órtese</button>
        <button>Cadeira de rodas motorizada</button>
        <button>Cadeira de rodas dobrável em X</button>
        <button>Nenhum</button>
        <button>Outro</button>
        <button>Cadeira de rodas monobloco</button>
        <button>Cadeira de rodas com elevação automatica</button>
       </div>

       <div class="Rec_Aces">
        <h1>Recurso de Acessibilidade</h1>
        <button>Elevador</button>
        <button>Plataforma Elevatória</button>
        <button>Ponto de Taxi</button>
        <button>Sinalização</button>
        <button>Rampas</button>
        <button>Corrimões</button>
        <button>Calçada acessível</button>
        <button>Portas amplas</button>
        <button>Vagas preferencias</button>
        <button>Banheiro familiar</button>
        <button>Piso nivelado</button>
        <button>Barras de apoio</button>
        <button>Ponto de ônibus </button>
        <button>Funcionarios Treinados</button>
        <button>Banheiro Adaptado</button>
        <button>Filas preferenciais</button>
        <button>Área de transferencia</button>
        <button>Guia rebaixada</button>
        <button>Barra sanitária</button>
        <button>Piso antiderrapante</button>
        <button>piso não trepidante</button>
        <button>Outro</button>
       </div>

       <div class="Locais_Inter">
        <h1>Locais de Interesse</h1>
        <button>Museus</button>
        <button>Monumentos</button>
        <button>Praças</button>
        <button>Artesanatos</button>
        <button>Igrejas</button>
        <button>Outros</button>
       </div>

       <div>
        <button>Salvar</button>
        <button>Cancelar</button>
       </div>

  {% else %}
      <label>Por favor, faça o login para acessar esta página.</label>
  {% endif %}
  {% endblock %}
</body>
</html>