/*Padões -------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

form, body{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  gap: 16px;
  overflow-x: hidden;
  width: 100%;
}


:root {
  --gradiente-3: linear-gradient(176deg, #010418 0%, #04247C 28.51%, #0458AB 50.41%, #558BE2 72.78%);}

/*Conteiners -------------------------*/

.Fer_Auxiliar, .Cont_Pessoais, .Rec_Aces, .Locais_Inter{
  width: 90%;
  background: var(--gradiente-3);
  border-radius: 16px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.Cont_Pessoais {
  height: 566px;
}

#Cont_formPes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 64px;
  gap: 69px;
}

/*Textos -------------------------*/

#P_form label {
  color:#F2FFFF;
  font-size: 20px;
  font-weight: 400;
  text-transform:none;
}

h1{
  color: #F2FFFF;
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0px 16px 40px;
}

/*Form e Inputs -------------------------*/

input[type="text"], .ipt_list, input[type="date"], select{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  border: none;
  margin: 8px 0 16px 0;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  padding-left: 12px;
  outline: 0
}

input[type="text"]{
  color: #010418;
  width: 669px;
  height: 32px;
  border-radius:16px;
}

input[type="date"]{
  border-radius: 8px;
}

.ipt_list, select{
  width: 480px;
  height: 40px;
  border-radius: 12px;
}


.cont_formInfo, .ipt_radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

/*Imgs -------------------------*/

.img_perfil{
  width: 222px;
  height: 222px;
  border: 3px solid #F2FFFF;
  border-radius: 50%;
}

/*Tooltip -------------------------*/
.cont_tool {
    position: relative; /* Importante para o posicionamento absoluto */
    }

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  top: 50%;
  left: 125%; /* Posição à direita do elemento */
  transform: translateY(-50%); /* Centraliza verticalmente */
  display: none;
  }

.tooltip::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.9)transparent transparent ;
}

.cont_tool:hover .tooltip {
  display: block;
}
