<p id="question-DAM">Selecione o dispositivo auxiliar de marcha que você ou a pessoa que você auxilia utiliza no seu dia a dia:</p>
<div id="options-question-1">
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Bengala
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Mulete
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Andador
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Cadeira de Rodas Motorizada 
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Cadeira de Rodas Manual
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Cadeira de Rodas Monobloco
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Cadeira de Rodas Dobravel em X
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Prótese
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Órtese
    <input type="checkbox" id="accept-checkbox" name="is_accepted">Nenhum
</div>
<button id="add-another-tag-button">Outro</button>