<div class="wizard-container">
  <div class="left-complement">
    <img
      id="logo-popup"
      src="../../static/images/LogoVetor.svg"
      alt="logo do Turismo Irrestrito"
    />
    <div class="wizardTracking">
      <p class="complement-track" id="complement-current">
        1. Locais de Preferência
      </p>
      <p class="complement-track">2. Ferramenta de Locomoção</p>
      <p class="complement-track">3. Recursos de Accessibilidade</p>
    </div>
  </div>

  <div class="right-complement" data-value="0"></div>
  <button id="previous-button" disabled>Voltar</button>
  <button id="next-button">Avançar</button>
</div>
