<div class="wizard-container popup-container">
  <button class="close-button" id="close-button">X</button>
  <div class="left-complement esquerda-cadastro">
    <img
      id="logo-popup"
      src="../../static/images/LogoVetor.svg"
      alt="logo do Turismo Irrestrito"
    />
    <div class="wizardTracking">
      <p class="complement-track" id="complement-active">
        1. Locais de Preferência
      </p>
      <p class="complement-track">2. Ferramenta de Locomoção</p>
      <p class="complement-track">3. Duração da Condição</p>
      <p class="complement-track">4. Recursos de Accessibilidade</p>
    </div>
  </div>
  <div class="right-complement">
    <h3>Formulário Complementar</h3>
    <div class="wizard-content" data-value="1">
      <div class="step">
        <p id="question-1">
          Selecione os locais que você tem preferência de visitar:
        </p>
        <div id="options-question-1">
          <input
            type="checkbox"
            id="accept-checkbox"
            name="is_accepted"
            value="Museu"
          />Museu
          <input
            type="checkbox"
            id="accept-checkbox"
            name="is_accepted"
            value="Monumento"
          />Monumento
          <input
            type="checkbox"
            id="accept-checkbox"
            name="is_accepted"
            value="Praça"
          />Praça
          <input
            type="checkbox"
            id="accept-checkbox"
            name="is_accepted"
            value="Artesanato"
          />Artesanato
          <input
            type="checkbox"
            id="accept-checkbox"
            name="is_accepted"
            value="Igreja"
          />Igreja
        </div>
        <button id="add-another-tag-button">Outro</button>
      </div>
    </div>
    <div id="button-complement side-by-side">
      <button id="previous-button-wizard" disabled>Voltar</button>
      <button id="next-button-wizard">Avançar</button>
    </div>
  </div>
</div>
