<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/Popup/style.css" />
  </head>
  <body>
    <div class="make-review-container">
      <div class="left-container">
        <img
          id="logo-popup"
          src="../../static/images/LogoVetor.svg"
          alt="logo do Turismo Irrestrito"
        />
        <h2 class="poppins-font" id="h2-esquerda">Agradecemos sua contribuição</h2>
      </div>
      <div class="review-field-container">
        <button class="close-button" id="close-button">X</button>
        <form method="POST" action="{% url 'local_rate' %}">
          {% csrf_token %}
          
          {{ rating_form.as_p }}
          {{ post_form.as_p }}
        
          <input type="hidden" name="local_id" id="local_id_value">
          
          <button type="submit">Enviar</button>
      </form>
        
      </div>
    </div>
  </body>
</html>
